@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');
.p-0{
    padding: 0 !important;
}

/*estilos menu*/

.navbar{
  height: 60px !important;
  z-index: 1;
}
}
.main-m{

}
.main-m .nav-link{
  color: black !important;
  font-weight: 500px;
    font-family: 'Work Sans', sans-serif;
 /*padding:  20px 40px;*/
}

.main-m .nav-link:hover{
  color: #F3C7D0 !important;
     animation-name: Yes;
     animation-duration: 2s;
}

/*fin del estilo de fucking menu*/

.shop{
width: 38px;

}

.logo{ 
text-align: center; 
width:200px;
height:35px;
}

.div-central{
  border-right: 3px solid #F3C7D0 ;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200px;

}

.footer{
  height: 100px;
  text-align: left;
   border-top: solid 3px #F3C7D0;

}

.redes{
bottom: 23px;
position: relative;
}

p.index{
    font-family: 'Work Sans', sans-serif,;
    font-style: bold;
 
   padding-top:45%;
    font-size: 30px;
}


h3{
  font-family: 'Work Sans', sans-serif,;
    font-weight: 500;
}

.circle img{
  animation-name: Index;
  animation-duration: 3s;
}


/*exposiciones*/
.tile
{
  width:310px;
  height:310px;
  margin:10px;
  background-color:#F3C7D0;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Work Sans' sans-serif;
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{

  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 transform: translateX(250px);
  font-weight:300;
  margin:0;
  width: 100%;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  font-size: 21px;
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
   color: white;
}
.tile h2 a:hover{
    color: black;
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}
/*formulario*/
.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}

/*registro*/
.formu{
    max-width: 500px;
    border-radius: 8px;
    text-align:center;
     position: relative;

  
}
.formu fieldset{
    border: none;

}

.formu legend {
    font-size:20px;
    margin-bottom: 10px;
    color: white;
}
.formu label {
    display: block;
  font-size:20px;
    margin-bottom: 8px;
    color: white;
}
.formu input[type="text"],
.formu input[type="email"],
.formu input[type="number"],
.formu input[type="file"],
.formu input[type="radio"],
.formu textarea,
.formu select {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    margin-bottom: 30px;
    
}
.formu input[type="text"]:focus,
.formu input[type="email"]:focus,
.formu input[type="number"]:focus,
.formu input[type="search"]:focus,
.formu input[type="time"]:focus,
.formu input[type="radio"]:focus,
.formu textarea:focus,
.formu select:focus{
    background: #d2d9dd;
}
.formu select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.formu .number {
    background: #000;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 15px;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
}

.formu input[type="submit"],
.formu input[type="button"]
{ position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background:#000;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.formu input[type="submit"]:hover,
.formu input[type="button"]:hover
{
   background:#F3C7D0;
  color:#000;
}


@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }

}
@keyframes Index{
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}
}

@keyframes Yes{
  50%{opacity: 0;}
  100%{opacity: 1;}
}


/*classes previous*/
/*menu y footer*/
ol,ul {
    list-style: none;
}

nav{
    height:40px;
}
#mNav {
    margin: 30px;
    width: 1200px;
    font-family: 'Work Sans', sans-serif;
}

#mNav li {
    display: inline-block;
    width:130px;
    float:left;
    margin-left:10px;
    text-align: center;
}

#mNav a {
    display:block;
    padding:3px;
    text-decoration:none;
    background-color:#fff;
    color:black;
}
            

#mNav a:hover {
    color:pink;
}




#acerca p{
    
    font-size: 18px;
    text-align: justify;
    width: 30%;
    margin-right: 1.5%;

}


















